AUTH_SECRET=6M6H5u8DJnWxg33bgcpGaLs6k4pAE7x9
DEBUG=True
ALLOWED_HOSTS=0.0.0.0
SERVER_HOST=0.0.0.0
SERVER_PORT=8000

# Database Config
MASTER_DB_NAME=osvauld
MASTER_DB_USER=postgres
MASTER_DB_PASSWORD=secret
MASTER_DB_HOST=localhost