SECRET=h9wt*pasj6796j##w(w8=xaje8tpi6h*r&hzgrz065u&ed+k2)
DEBUG=True
ALLOWED_HOSTS=0.0.0.0
SERVER_HOST=0.0.0.0
SERVER_PORT=8000

# Database Config
MASTER_DB_NAME=osvauld
MASTER_DB_USER=postgres
MASTER_DB_PASSWORD=
MASTER_DB_HOST=localhost
MASTER_DB_PORT=5432
MASTER_DB_LOG_MODE=True
MASTER_SSL_MODE=disable
